html{
    box-sizing: border-box;
}

*, *:before,*:after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff7e40;
}
header{
    text-align: center;
    padding: 20px 0;
}
.contenedor{
    margin: 0 auto;
    width: 800px;
}

div.hero img{
    width: 100%;
}

h2{
    text-align: center;
    color:#ffff;
    text-transform: uppercase;
    margin: 10px 0;
}
ul.lista_productos {
    list-style:none;
    margin: 0;
    padding: 0;
}
ul.lista_productos li{
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}
ul.lista_productos li:nth-child(2n+1){
    clear: both;
}
ul.lista_productos li img{
    border: 10px solid rgba(128,1,195,.50);
}
ul.lista_productos li img:hover{
    border: 10px solid rgba(128,1,195,1);
}
ul.lista_productos li p{
    font-size: 20px;
    color: #ffff;
    font-weight: bold;
    margin-top: 5px;
}
ul.lista_productos li p span{
    font-size: 40px;
    color: #ffce00;
}
.boton{
    background-color: #ffce00;
    padding: 10px 40px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.boton:hover{
    background-color: chartreuse;
}